<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Runs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body cz-shortcut-listen="true">
    <noscript>
        <h1 style="font-family: sans-serif; text-align: center">JavaScript must be enabled to run Jiskefet</h1>
    </noscript>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-5 collapse-transition">
                <div class="mb-2">
                    <div class="row mb-2 ">
                        <div class="col-md-10"></div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div>
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover jf-table jf-font-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="jf-th null">Run number</th>
                                    <th scope="col" class="jf-th null">Tags</th>
                                    <th scope="col" class="jf-th null">Time O² start</th>
                                    <th scope="col" class="jf-th null">Time O² end</th>
                                    <th scope="col" class="jf-th null">Time trg start</th>
                                    <th scope="col" class="jf-th null">Time trg end</th>
                                    <th scope="col" class="jf-th null">Activity id</th>
                                    <th scope="col" class="jf-th null">Run type</th>
                                    <th scope="col" class="jf-th null">Run quality</th>
                                    <th scope="col" class="jf-th null">Detectors</th>
                                    <th scope="col" class="jf-th null">FLPs</th>
                                    <th scope="col" class="jf-th null">EPNs</th>
                                    <th scope="col" class="jf-th null">Timeframes</th>
                                    <th scope="col" class="jf-th null">Sub-timeframes</th>
                                    <th scope="col" class="jf-th null">B read out</th>
                                    <th scope="col" class="jf-th null">B timeframe builder</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="/run">0</a></td>
                                    <td><span data-id="53ca06c7-dfd5-4800-8a02-4b271525d319" style="background-color: red" class="tags__tag tags__tag--active" id="tag-test (suggestion)">PHYSICS</span></td>
                                    <td>Unkown</td>
                                    <td>Run In Progress</td>
                                    <td>Unkown</td>
                                    <td>Run In Progress</td>
                                    <td></td>
                                    <td>PHYSICS</td>
                                    <td></td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/1">1</a></td>
                                    <td>13:33:36 08/05/2019</td>
                                    <td>Run In Progress</td>
                                    <td>12:51:47 08/05/2019</td>
                                    <td>Run In Progress</td>
                                    <td>Sl4e12ofb83no92ns</td>
                                    <td>COSMICS</td>
                                    <td></td>
                                    <td>16</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/2">2</a></td>
                                    <td>09:37:38 23/08/2018</td>
                                    <td>Run In Progress</td>
                                    <td>18:35:42 27/04/2019</td>
                                    <td>Run In Progress</td>
                                    <td>LEMgOOanXimvLYxL</td>
                                    <td>TECHNICAL</td>
                                    <td></td>
                                    <td>32</td>
                                    <td>14</td>
                                    <td>23</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/3">3</a></td>
                                    <td>19:16:56 25/08/2018</td>
                                    <td>Run In Progress</td>
                                    <td>15:19:34 14/02/2019</td>
                                    <td>Run In Progress</td>
                                    <td>UVJt3o80fMcQd2pp</td>
                                    <td>TECHNICAL</td>
                                    <td></td>
                                    <td>72</td>
                                    <td>5</td>
                                    <td>76</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/4">4</a></td>
                                    <td>10:22:18 24/12/2018</td>
                                    <td>Run In Progress</td>
                                    <td>21:28:52 09/05/2019</td>
                                    <td>Run In Progress</td>
                                    <td>VAwguqpi2UjxR3r8</td>
                                    <td>PHYSICS</td>
                                    <td></td>
                                    <td>83</td>
                                    <td>88</td>
                                    <td>15</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/5">5</a></td>
                                    <td>11:33:39 06/05/2019</td>
                                    <td>Run In Progress</td>
                                    <td>19:49:06 24/05/2018</td>
                                    <td>Run In Progress</td>
                                    <td>QJudliTkCJGiXY7n</td>
                                    <td>TECHNICAL</td>
                                    <td></td>
                                    <td>94</td>
                                    <td>36</td>
                                    <td>37</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/6">6</a></td>
                                    <td>23:56:33 03/04/2019</td>
                                    <td>Run In Progress</td>
                                    <td>11:09:35 31/08/2018</td>
                                    <td>Run In Progress</td>
                                    <td>MDUhS1QJQaxxNa6i</td>
                                    <td>COSMICS</td>
                                    <td></td>
                                    <td>59</td>
                                    <td>39</td>
                                    <td>42</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/7">7</a></td>
                                    <td>13:47:48 16/05/2018</td>
                                    <td>Run In Progress</td>
                                    <td>06:04:37 04/07/2018</td>
                                    <td>Run In Progress</td>
                                    <td>TMRBT1CMoWkd2S9F</td>
                                    <td>PHYSICS</td>
                                    <td></td>
                                    <td>95</td>
                                    <td>89</td>
                                    <td>6</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/8">8</a></td>
                                    <td>05:17:21 27/05/2019</td>
                                    <td>Run In Progress</td>
                                    <td>07:37:38 10/02/2019</td>
                                    <td>Run In Progress</td>
                                    <td>ENoUcvmY7bSjcVKh</td>
                                    <td>COSMICS</td>
                                    <td></td>
                                    <td>8</td>
                                    <td>35</td>
                                    <td>54</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/9">9</a></td>
                                    <td>10:45:24 27/02/2019</td>
                                    <td>Run In Progress</td>
                                    <td>16:19:56 19/02/2019</td>
                                    <td>Run In Progress</td>
                                    <td>IEy53b1lOtYdK600</td>
                                    <td>PHYSICS</td>
                                    <td></td>
                                    <td>85</td>
                                    <td>94</td>
                                    <td>49</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/10">10</a></td>
                                    <td>00:42:54 11/01/2019</td>
                                    <td>Run In Progress</td>
                                    <td>22:43:03 11/03/2019</td>
                                    <td>Run In Progress</td>
                                    <td>LLFcTVifbIQZvW4M</td>
                                    <td>TECHNICAL</td>
                                    <td></td>
                                    <td>36</td>
                                    <td>80</td>
                                    <td>24</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/11">11</a></td>
                                    <td>08:58:52 15/06/2018</td>
                                    <td>Run In Progress</td>
                                    <td>05:40:34 03/03/2019</td>
                                    <td>Run In Progress</td>
                                    <td>LFIS0nbu56HFQvOZ</td>
                                    <td>COSMICS</td>
                                    <td></td>
                                    <td>48</td>
                                    <td>42</td>
                                    <td>8</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/12">12</a></td>
                                    <td>06:24:00 04/10/2018</td>
                                    <td>Run In Progress</td>
                                    <td>14:40:13 02/09/2018</td>
                                    <td>Run In Progress</td>
                                    <td>JCW9wNBO0GnwLabh</td>
                                    <td>PHYSICS</td>
                                    <td></td>
                                    <td>57</td>
                                    <td>59</td>
                                    <td>30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/13">13</a></td>
                                    <td>03:05:00 29/12/2018</td>
                                    <td>Run In Progress</td>
                                    <td>17:53:49 26/05/2018</td>
                                    <td>Run In Progress</td>
                                    <td>XZhv7oq1loCRgzxf</td>
                                    <td>TECHNICAL</td>
                                    <td></td>
                                    <td>32</td>
                                    <td>80</td>
                                    <td>57</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/14">14</a></td>
                                    <td>20:18:58 24/11/2018</td>
                                    <td>Run In Progress</td>
                                    <td>05:33:44 05/10/2018</td>
                                    <td>Run In Progress</td>
                                    <td>PMfTtc90RhyrlfOH</td>
                                    <td>COSMICS</td>
                                    <td></td>
                                    <td>16</td>
                                    <td>24</td>
                                    <td>12</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="/runs/15">15</a></td>
                                    <td>22:47:56 13/12/2018</td>
                                    <td>Run In Progress</td>
                                    <td>17:39:24 30/01/2019</td>
                                    <td>Run In Progress</td>
                                    <td>FKf7FiptvrMkkjCs</td>
                                    <td>COSMICS</td>
                                    <td></td>
                                    <td>12</td>
                                    <td>20</td>
                                    <td>11</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="bg-light rounded 
                p-1 border undefined">
                    <div class="row">
                        <div class="col-md-4 m-1 small-center">
                            <div class="pagination-block"><label for="pageSize"
                                    class="col-form-label col-form-label-sm mr-2">Page size</label></div>
                            <div class="pagination-block"><select id="pageSize" name="pageSize"
                                    class="form-control form-control-sm undefined"
                                    style="min-width: 75px; max-width: 75px; overflow: hidden;">
                                    <option value="">16</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">4</option>
                                    <option value="8">8</option>
                                    <option value="16">16</option>
                                    <option value="32">32</option>
                                    <option value="64">64</option>
                                    <option value="128">128</option>
                                    <option value="256">256</option>
                                    <option value="512">512</option>
                                </select></div>
                            <div class="text-muted mt-2 ml-2 pagination-block">
                                <div class="jf-pagecounter">1-16 of 1497 rows</div>
                            </div>
                        </div>
                        <div class="col-md-4 m-1 small-center">
                            <nav aria-label="Pages">
                                <ul class="pagination pagination-sm jf-pagination">
                                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                                    <li class="page-item active"><input type="hidden" id="page-selector-id" value="1"
                                            class="page-selector form-control form-control-sm">
                                        <div id="page-selector-label" data-toggle="tooltip" data-placement="bottom"
                                            title="" class="page-link page-selector-label"
                                            data-original-title="Click to manually select a page">1</div>
                                    </li>
                                    <li class="page-item"><a id="2" class="page-link">2</a></li>
                                    <li class="page-item"><a id="3" class="page-link">3</a></li>
                                    <li class="page-item disabled "><a class="page-link jf-page-non-link">of</a></li>
                                    <li class="page-item"><a id="94" class="page-link">94</a></li>
                                    <li class="page-item false"><a class="page-link">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="js/app.js"></script>
</body>

</html>