<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>All tags</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
</head>

<body cz-shortcut-listen="true">
	<noscript>
		<h1 style="font-family: sans-serif; text-align: center">JavaScript must be enabled to run Jiskefet</h1>
	</noscript>

	<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Navbar</a>
	</nav>

	<div class="col-md-10 mx-auto">
		<div class="card shadow-sm bg-light">

			<div class="card-header">
				<div class="row">
					<div class="col-md-6">
						<h3>Tags</h3>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="container-fluid">
					<div class="row add-tags-page">
						<div class="col-md-6">
							<form class="add-tags-form" method="POST">
								<div class="form-group">
									<label for="tag-name">Tag name</label>
									<input type="text" class="form-control" id="tag-name" name="tag-name" placeholder="Tag name">
								</div>
								<div class="form-group">
									<label for="tags">Tag color</label> <br>
									<div class="colors">
										<input type="radio" id="color-1" value="e74c3c" name="color">
										<label for="color-1" class="colors__color" id="red"></label>

										<input type="radio" id="color-2" value="e67e22" name="color">
										<label for="color-2" class="colors__color" id="orange"></label>

										<input type="radio" id="color-3" value="f1c40f" name="color">
										<label for="color-3" class="colors__color" id="yellow"></label>

										<input type="radio" id="color-4" value="27ae60" name="color">
										<label for="color-4" class="colors__color" id="green"></label>

										<input type="radio" id="color-5" value="2980b9" name="color">
										<label for="color-5" class="colors__color" id="blue"></label>

										<input type="radio" id="color-6" value="9b59b6" name="color">
										<label for="color-6" class="colors__color" id="purple"></label>

										<input type="radio" id="color-7" value="7f8c8d" name="color">
										<label for="color-7" class="colors__color" id="grey"></label>

										<input type="radio" id="color-8" value="34495e" name="color">
										<label for="color-8" class="colors__color" id="black"></label>
									</div>
								</div>
								<button type="submit" class="btn btn-primary float-right">Add tag</button>
							</form>
						</div>
						<div class="col-md-6">
							<h3>All tags</h3>
							<div class="tags">
							</div>
							<span data-id="1" style="background-color: red; margin-top: 10px; display: block; width: 126px;" class="tags__tag" id="tag-PHYSICS">PHYSICS  <button>X</button></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
	<script src="js/app.js"></script>
</body>

</html>